# ----------------------------------------
# Python cache and environment
# ----------------------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# ----------------------------------------
# IDEs and editors
# ----------------------------------------
.idea/
.vscode/

# ----------------------------------------
# Logs and database files
# ----------------------------------------
*.log
*.sqlite3

# ----------------------------------------
# Distribution / packaging
# ----------------------------------------
build/
dist/
*.egg-info/

# ----------------------------------------
# OS files
# ----------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------
# Environment variables
# ----------------------------------------
.env
